
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  font-family: Arial, sans-serif;
}

.quizContainer {
  background-color: #ffffff;
  border-radius: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 70%;
  max-width: 30rem;
}


.question {
  padding-top: 2rem;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.progressBarWrap {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBarContainer {
  height: 1rem;
  width: 100%;
  background-color: #e0e0e0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.progressBar {
  height: 1rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #007bff;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

.optionsWrap {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.optionButton {
  width: 100%;
  height: 20%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.optionButton:hover {
  background-color: #0056b3;
}

.score {
  width: 100%;
  height: 10%;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: start;
}
