.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 2rem;
}

.loginBox {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "CookieRun-Regular";
  color: #333;
}

.descriptionKR {
  color: #666;
  font-family: "CookieRun-Regular";
}

.descriptionJP {
  color: #666;
  margin-bottom: 2rem;
  font-family: "Natsuzemi";
  font-size: 0.8rem;
}

.googleButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
